.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.bin {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.binButton {
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgb(79, 205, 125);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.switchButton {
  background-color: rgb(79, 205, 125);
  border-radius: 10px;
  color: white;
  font-weight: 700;
  outline: none;
  padding: 7px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 14px;
}

.line {
  margin: 0 -55px 20px -55px;
  background-color: rgb(205, 205, 205);
  height: 1px;
}

@media (max-width: 750px) {
  .wrapper {
    margin: 0;
    background-color: #e6edf2;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(205, 205, 205);
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .line {
    display: none;
  }

  .bin {
    width: 15px;
    height: 15px;
  }

  .binButton {
    width: 30px;
    height: 30px;
  }

  .switchButton {
    font-size: 11px;
    padding: 7px 10px;
  }
}

@media (min-width: 750px) {
  .xsButton {
    display: none;
  }
}